html,
body {
  height: 100%;
  font-family: "Noto Sans", sans-serif;
}
h2,
h3 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
html {
  height: 2000px;
}
a:link,
a:visited {
  color: black;
  text-decoration: none;
}
#wrapper {
}
.header {
  margin: auto;
  padding-bottom: 30px;
}
.header h1 {
  text-align: center;
  font-family: "Jomolhari", serif;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 48px;
  color: #333333;
}
.header p {
  text-align: center;
  line-height: 0%;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  color: #333333;
}
.sidebarMenu {
  background: #1d1d1d;
  display: block;
  height: 100%;
  width: 250px;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  float: left;
  z-index: 999;
  display: none;
  box-shadow: 2px 2px 5px #999;
}
.sidebarMenu ul {
  list-style-type: none;
  margin-top: 50%;
  padding: 0;
}
.sidebarMenu ul li {
  color: #ddd;
  text-align: center;
  padding-top: 40px;
  font-size: 20px;
}
.sidebarMenu ul li a:link,
.sidebarMenu ul li a:visited {
  color: #ddd;
  text-decoration: none;
}
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.main {
  width: 90%;
  height: 100%;
  margin: auto;
  overflow: hidden;
  padding-top: 20px;
}
.post {
  width: 290px;
  height: 550px;
  float: left;
  margin: 10px;
  border: 1px solid #eee;
  margin-top: 10px;
  box-shadow: 5px 5px 5px #eee;
}
.post h2 {
  padding: 8px;
}
.post p {
  padding: 8px;
}
.post img {
  width: 100%;
  padding: 0;
  margin: 0;
}
.profile {
  padding: 20px;
  position: relative;
  bottom: 0;
}
.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
}

.profileInfo {
  position: relative;
  left: 10px;
}
.profileInfo p {
  margin: 0;
  padding: 0;
}

#burger i {
  color: #1d1d1d;
  font-size: 40px;
}
#close i {
  color: #eee;
  font-size: 30px;
}
#burger {
  position: absolute;
  top: 10px;
  left: 10px;
}
#close {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 99999;
}


@media screen and (max-width: 767px) {
    .header p{
        display: none;
    }
    .header h1{
        font-size: 27px;
    }
    .wrapper{
        padding: 0;
    }
    .main{
        width: 100%;
    }
    .post{
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 479px) {
  .header p{
      display: none;
  }
  .header h1{
      font-size: 27px;
  }
  .wrapper{
      padding: 0;
  }
  .main{
      width: 100%;
  }
  .post{
      width: 100%;
      height: 100%;
  }
  .sidebarMenu{
      width: 100%;
  }
  
}
